@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');



/* example taken from https://stackoverflow.com/a/48976550/3466464 */
/* import what we need to override */
/* @import "bootstrap/functions";
@import "bootstrap/variables"; */

/* set the overriding variables */
/* $grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
) */

.App {
  font-family: 'Source Sans Pro', sans-serif;
  --main-color: black;
  /* --secondary-color: #191645; */
  --secondary-color: #CDDEFF;
  --pop-color: #2ed4b3;
  --dark-pop-color: #2ecaab;
  /* --tertiary-color: #00d4ff; */
  --tertiary-color: #180979;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */