.navbar {
    /* border: 1px solid red; */
    /* height: 10vh; */
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: var(--secondary-color);
    /* color: var(--main-color) */
    /* box-shadow: 0px 0px 1px 0px var(--tertiary-color) */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 20px 0; */
    text-align: center;
    background: #eee;
    z-index: 9999;
    transition: all 300ms ease-in-out;
    background-color: var(--secondary-color);
}

/* .scroll-down {
    header {
        transform: translate3d(0, -100%, 0);
    }
}

.scroll-up {
    header {
        filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
    }
}

.menu-is-open {
    overflow: hidden;

    header {
        filter: none;
    }
} */



.scrolled {
    background-color: #fff;
    /* box-shadow: 0px 0px 1px 0px black */
}

.scroll-up {
    display: hidden;
    /* border: 1px solid red; */
    /* header { */
		/* filter: drop-shadow(0 -10px 20px rgb(170, 170, 170)); */
	/* } */
}

.scroll-down {
    display: visible;

    /* header { */
        transform: translate3d(0, -100%, 0);
    /* } */
}


.nav-link {
    text-transform: uppercase;
    /* padding: 0rem 2rem !important; */
    /* border: 1px solid red; */
    font-weight: 600;
    /* --animate-delay: 1s */

}

.nav-link:nth-child(1) {
    --animate-delay: .1s
}

.nav-link:nth-child(2) {
    --animate-delay: .2s
}

.nav-link:nth-child(3) {
    --animate-delay: .3s
}

.nav-link:nth-child(4) {
    --animate-delay: .4s
}

.nav-link:hover {
    color: var(--dark-pop-color)
}

.navbar-brand,
.nav-link {
    color: var(--tertiary-color)
}

.active {
    color: var(--dark-pop-color) !important
}