.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 20px 0; */
    text-align: center;
    z-index: 9999;
    transition: all 300ms ease-in-out;
    background-color: var(--secondary-color);
    /* border: 1px solid red; */
    margin: 0;
}

#navbar {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.scrollspy {
    margin-block: .5rem;
    /* border: 1px solid blue; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* gap: 1rem */
    gap: 1vw;
    padding: 0;
}

/* .scrollspy>li a {
    text-decoration: none;
    list-style-type: none;
} */

.scrollspy * {
    /* border: 1px solid blue; */
    padding: .25rem;
    margin-block: .5rem;
    text-decoration: none;
    list-style-type: none;
    color: var(--tertiary-color);
    text-transform: uppercase;
    /* padding: 0rem 2rem !important; */
    /* border: 1px solid red; */
    font-weight: 600;
    /* --animate-delay: 1s */
    letter-spacing: 1px;
    border-bottom: 3px solid #00000000;
}


.scrollspy a:hover {
    color: #5668f5;
    /* color: var(--tertiary-color); */
    transition: .3s;
}


.scrolled-passed-home {
    background-color: #fff;
    /* box-shadow: 0px 0px 1px 0px black */
}

.scroll-up {
    display: hidden;
}

.scroll-down {
    display: visible;
    transform: translate3d(0, -100%, 0);
}


.nav-link {
    text-transform: uppercase;
    /* padding: 0rem 2rem !important; */
    /* border: 1px solid red; */
    font-weight: 600;
    /* --animate-delay: 1s */
    letter-spacing: 1px;

}



.scrollspy li:nth-child(1) {
    --animate-delay: .1s;
    /* border: 1px solid red; */
}

.scrollspy li:nth-child(2) {
    --animate-delay: .2s
}

.scrollspy li:nth-child(3) {
    --animate-delay: .3s
}

.scrollspy li:nth-child(4) {
    --animate-delay: .4s
}

.nav-link:hover {
    color: var(--dark-pop-color)
}

.navbar-brand,
.nav-link {
    color: var(--tertiary-color)
}

/* .active {
    color: var(--dark-pop-color) !important
} */


.active {
    /* border: 1px solid red; */
    border-bottom: 3px solid var(--dark-pop-color);
    /* transition: .2s; */
    /* color: var(--dark-pop-color)  */
}

.collapse.show{
    /* border:1px solid red ; */
}

.navbar-toggler {
    border: px solid var(--tertiary-color);
    color: rgba(0, 0, 0, 0);
    padding: 0;
}

.collapse.show {
    /* border: 1px solid blue; */
}



.hamburger-react {
    color: var(--tertiary-color);
    transition: 5s;
}