.skills-section {
    /* background: #e4e1e1; */
    min-height: 100vh;
    /* background-color: var(--secondary-color); */
    /* background-color: var(--tertiary-color); */
    /* color: var(--main-color) */
    color: var(--tertiary-color);
    /* color: var(--secondary-color) */
}

.skills-head>* {
    /* border: 1px solid blue; */
}

.skills-head {
    /* height: 20vh; */
}

.skills-header {
    font-size: calc(2.5rem + .5vw);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}



.experience-header {
    /* font-size: 2.5rem; */
    font-size: calc(2.25rem + .5vw);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.exp-card {
    border: 1px solid black;
    box-shadow: 1px 1px 1px 0px;
}

.languages,
.frameworks,
.tools {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}

.icons>.row {
    /* border: 1px solid black; */
    flex: 0;
    justify-content: center;
}


.icons>.row>.row {
    border: 1px solid blue;
}

.icons {}

.skills-information {
    /* border: 1px solid black; */
}

.icon-container {
    border: 2px solid var(--tertiary-color);
    border-radius: .5rem;
    /* width: 50px;
    height: 100px; */
    width: 100px;
    height: 100px;
    /* flex: 0 */
    padding: 1rem;
    /* flex: 0 */
}

.icon-container svg {
    height: 50px;
    width: 50px;
    fill: var(--tertiary-color)
}



.row-icon-container>*,
.about-description>*,
.skills-head {
    --animate-delay: .25s;
}

.about-description {
    letter-spacing: 1px;
}