.contact-section {
  min-height: 100vh;
  color: var(--tertiary-color);
  /* text-transform: uppercase; */
  position: relative;
}

.form-header {
  /* display: flex; */
}

.contact-header-text {
  /* position: relative; */
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* border: 1px solid black; */
}

.contact-header-icon {
  /* border: 1px solid red; */
}

.message-header {
  font-weight: 600;
  margin-left: 0.6rem;
  letter-spacing: 1px;
}

.message-container {
  z-index: 2;
}

.new-media {
  /* position: absolute; */
  display: flex;
  gap: 1.5rem;
  /* left: 300px;
    bottom: 300px; */
  /* border: 1px solid red; */
  /* margin-top: 2rem; */
  /* margin-right: 1rem */
}

.new-media svg {
  /* border: 1px solid red; */
  width: 1.5rem;
  height: 1.5rem;
}

.new-media a {
  color: var(--tertiary-color);
  transition: 0.2s;
  fill: var(--tertiary-color);
}

.new-media a:hover {
  color: var(--dark-pop-color);
  cursor: pointer;
  transform: translateY(-2px);
  fill: var(--dark-pop-color);
}

.contact-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* border: 3px solid var(--tertiary-color); */
  box-shadow: 1px 1px 5px;
  border-radius: 1rem;
  padding: 3rem;
  --animate-delay: 0.5s;
  background-color: var(--secondary-color);
}

.contact-section form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-section form button {
  background-color: var(--dark-pop-color);
  color: var(--tertiary-color);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.75rem 1.25rem;
  border: none;
  box-shadow: 1px 1px 4px;
  border-radius: 0.25rem;
  transition: 0.2s ease-in-out;
  width: 160px;
}

.contact-section form button:hover {
  background-color: var(--dark-pop-color);
  color: var(--tertiary-color);
  cursor: pointer;
  transform: translateY(-1px) !important;
  box-shadow: 1px 1px 10px 1px;
}


#contact-section .form-control {
  box-shadow: 1px 1px 4px;
  /* border-bottom: 2px solid black; */
  border-radius: 0.5rem !important;
  /* transition: .5s ease-in-out; */
}

#contact-section .form-control:focus {
  /* color: var(--pop-color); */
  border-color: #1b9e83;
  box-shadow: 1px 1px 20px #1b9e83;
  --dark-pop-color: #229780;
  /* transition: 1s; */
}

/* #contact-section .form-control:focus {
    border: 1px solid red;
} */

.form-floating {
  font-weight: 600;
  letter-spacing: 1px;
}

.form-control:focus {
  box-shadow: none;
}

.form-floating label {
  color: var(--tertiary-color);
}

.form-floating > .form-control:focus ~ label {
  opacity: 1;
}

.catsleep {
  position: absolute;
  width: 40vw;
}
.spinner-border {
  /* background-color: red; */
  /* border: 1px solid red; */
  width: 1rem;
  height: 1rem;
}

.load-text {
  display: flex;
  /* flex-direction: row-reverse; */
  gap: .75rem;
  justify-content: center;
  align-items: center;
}
 .load-text .loader,
 .load-text .loader {
  position: relative;
  background: conic-gradient(transparent, var(--tertiary-color));
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotation .75s linear infinite;
  /* border: 1px solid red; */
}
 .load-text .loader::before,
 .load-text .loader::before {
  content: " ";
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: var(--dark-pop-color);
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error-message {
  /* border: 1px solid red; */
  position: absolute;
  bottom: -2rem;
  left: 50%;
    transform: translate(-50%, 0);
  width: 200%;
  text-align: center;
}
/* sm breakpoint */
@media all and (min-width: 0px) {
  .catsleep {
    visibility: hidden;
  }
}

/* @media all and (min-width: 575px) {
    .catsleep {
        display: hidden;
    }
} */

/* md breakpoint */
/* @media all and (min-width: 780px) {

    .catsleep {
        display: hidden;
    }
} */

@media all and (min-width: 880px) {
  .catsleep {
    visibility: visible;
    bottom: 30px;
    left: 530px;
    /* border: 1px solid pink; */

    /* max-width: 450px; */
  }
}

/* lg breakpoint */
@media all and (min-width: 992px) {
  .catsleep {
    bottom: 0px;
    left: 590px;
  }
}

@media all and (min-width: 1100px) {
  .catsleep {
    bottom: 0px;
    left: 660px;
  }
}

/* xl breakpoint */
@media all and (min-width: 1200px) {
  .catsleep {
    bottom: -50px;
    left: 700px;
  }
}

@media all and (min-width: 1400px) {
  .catsleep {
    bottom: -50px;
    left: 840px;
  }
}

@media all and (min-width: 1550px) {
  .catsleep {
    bottom: -80px;
    left: 900px;
  }
}

@media all and (min-width: 1700px) {
  .catsleep {
    bottom: -40px;
    left: 1000px;
  }
}

@media all and (min-width: 1850px) {
  .catsleep {
    bottom: -40px;
    left: 1100px;
  }
}
