.home-section {
    /* border: 1px solid red; */
    min-height: 100vh;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    position: relative;
}

#jacky-svg {
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 80.5%;
    bottom: 0;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 40vh;
    /* border: 1px solid red; */
}

@media all and (max-width: 400px) {
   #jacky-svg { 
    left: 50%;
    top: 85.5%;
    bottom: 0;
    height: 30vh;
    width: 40vh;
    }


    .top-home-heading, .bottom-home-heading {
        font-size: 2.5rem;
    }

    
}
/* .catsvg {
    border: 1px solid red;
    height: 50px;
} */
.jacky-container {
    --animate-delay: 3.5s
}


/* hair left brow right brow */
#Vector_17,
#Vector_15,
#Vector_13 {
    fill: black;
}

/* glasses frames */
#Vector_21,
#Vector_23 {
    fill: #3C2A21;
}

#Vector_31 {
    animation: wave 4s 6s infinite;
    /* animation-delay: 3s; */
    transform-origin: left bottom;
    display: inline-block;
    fill: red;
    border: 1px solid red;
    transform-origin: 50% 80%;
    transform: rotate(-5deg);
}

#open_eyes>* {
    animation: eyes-open 2s infinite;
    /* fill: white */
    visibility: hidden;
    transition: 1s;
}





@keyframes wave {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(1.0deg)
    }

    20% {
        transform: rotate(-1.0deg)
    }

    30% {
        transform: rotate(2.0deg)
    }

    40% {
        transform: rotate(-2.0deg)
    }

    50% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

@keyframes wave-2 {
    0% {
        transform: rotate(0.0deg)
    }

    5% {}

    10% {
        transform: rotate(1.0deg)
    }

    15% {}

    20% {
        transform: rotate(-1.0deg)
    }

    25% {}

    30% {
        transform: rotate(1.0deg)
    }

    100% {
        transform: rotate(0deg)
    }
}


.top-home-heading {
    /* width: 15em; */
    /* text-align: center; */
    display: transparent;
    /* animation: typing 1.8s steps(23), blinking .6s step-end 3; */
    animation: typing 1.8s steps(23), blinking .6s step-end 3, reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 1.5s forwards;
    animation-delay: 2.0s;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    /* border: 1px solid red; */
    visibility: hidden;
}

.bottom-home-heading {
    animation: typing 1.8s steps(23), blinking .6s step-end 5, reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 1.5s forwards;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    animation-delay: 3.8s;
    display: block;
    visibility: hidden;
    /* border: 1px solid blue; */
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

@keyframes reveal {
    from {
        /* transform: translate(0,100%); */
        opacity: 1;
    }

    to {
        /* transform: translate(0,0); */
        visibility: visible;
        opacity: 1;
    }
}



@keyframes blinking {
    0% {
        border-color: transparent
    }

    50% {
        border-color: var(--tertiary-color)
    }

    100% {
        border-color: transparent
    }
}


/* xs breakpoint */
@media all and (min-width: 0px) {
    .home-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

/* sm breakpoint */
@media all and (min-width: 576px) {
    /* body {
        background-color: grey;
    } */

    .home-col {
        /* font-size: 2.5rem; */
    }
}

/* md breakpoint */
@media all and (min-width: 768px) {
    .home-col {
        flex-direction: row;
        gap: .5rem;
    }

    /* body {
        background-color: palegoldenrod;
    } */

    .home-col {
        font-size: 2.5rem;
    }
}

/* lg breakpoint */
@media all and (min-width: 992px) {
    .home-col {
        font-size: 3.25rem;
    }

    /* body {
        background-color: blue;
    } */
}

/* xl breakpoint */
@media all and (min-width: 1200px) {
    .home-col {
        font-size: 3.25rem;
    }

    /* body {
        background-color: pink;
    } */
}



.home-row:nth-child(3) {
    margin-bottom: 20vh;
}

.heading-primary {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
    /* border: 1px solid red; */
}

.heading-subtext {
    font-size: 1.35rem;
    display: block;
    visibility: hidden;
    animation: reveal-subtext 1.5s cubic-bezier(0.77, 0, 0.175, 1) 1s forwards;
    animation-delay: 8.5s;
}


.heading-button {
    background-color: var(--pop-color);
    border-radius: .25rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    width: 16rem;
    visibility: hidden;
    animation: reveal-subtext 1.5s cubic-bezier(0.77, 0, 0.175, 1) 1s forwards;
    animation-delay: 8.5s;
    /* border-radius: ; */
    transition: .3s linear;
    box-shadow: 0 10px 30px -15px;
}

.heading-button:hover {
    cursor: pointer;
    transform: translateY(-1px) !important;
    box-shadow: 1px 1px 20px 1px;

}


@keyframes reveal-subtext {
    from {
        transform: translate(0, 100%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        visibility: visible;
        opacity: 1;
    }
}




/* .scrollspy {
    background-color: #515151;
    margin: 10px;
    position: fixed;
    top: 0;
    right: 0
  }
  ul {
    list-style: none;
  }
  li {
    margin: 10px;
    padding: 10px 0;
  }
  a {
    color: white;
  }
  .isCurrent {
    font-weight: bold;
  }
  
  /* .isCurrent a, h2 {
    color: #f1a07a;
  }  */

  