.loader {
    /* border: 1px solid red; */
    height: 100vh;
    /* z-index: 100; */
    /* position: fixed; */
    background-color: var(--secondary-color);
    /* width: 100%; */
    /* height: 100%; */
    /* display: flex;
    flex-direction: column; */
    /* animation: fadeaway 3.6s; */
    /* opacity: .2; */
    /* z-index: 1; */

}

.catsvg>* {
    /* position: absolute; */
    /* border: 1px solid red; */
    /* transform: translate(10px); */
    animation: fadeaway 4s;
    /* opacity: .2; */
    /* display: none; */

}

/* .catsvg {
    display: none;
} */

@keyframes fadeaway {

    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        /* opacity: .2; */
        opacity: 0;
        /* background-color: var(--secondary-color); */
        /* display: none; */
    }
}

#ewo4eiA5X1Q1 {
    /* border: 1px solid red; */
    /* animation: move 3.6s; */
    /* transform: translate(10px); */
    /* animation-iteration-count: 1; */
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    animation: fadeaway 4s;
    transform: translate(-50%, -50%);
}

@keyframes move {
    0% {
        /* transform: translate(-100px); */
        left: 0;
    }

    /* 10% {
        transform: rotate(1.0deg)
    }

    20% {
        transform: rotate(-1.0deg)
    } */

    100% {
        left: 50;
        /* transform: translate(200px) */
    }
}