@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');




.App {
  font-family: 'Source Sans Pro', sans-serif;
  --main-color: black;
  --secondary-color: #CDDEFF;
  --pop-color: #2ed4b3;
  --dark-pop-color: #2ecaab;
  --tertiary-color: #180979;
  letter-spacing: 1px;
  /* background: var(--secondary-color); */
}


.hidden {
  visibility: hidden;
}

.out {
  position: absolute;
}

.loader >*:nth-of-type(1) {
  border: 1px solid red;
  /* display: none; */
  /* visibility: none; */
  /* height: 0px !important; */
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  /* background: #180979; */

  background: #2ecaab;
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 100vw;
  margin-block: .1rem;
}